

body {
    margin: 0;
}

.container {
    display: flex;
    justify-content: space-around;
    background-color: #0C4A6E;
    padding-bottom: 20px;
    margin: 80px 40px 0 40px;
    min-height: 400px;
}

#scores {
    padding-top: 40px;
}

#home-score, #guest-score {
    background-color: #111827;
    min-height: 160px;
    min-width: 200px;
    padding-top: 40px;
    color: #E11D48;
    font-size: 96px;
    text-align: center;
}

#reset {
    max-height: 30px;
    position: fixed;
    margin-top: 390px;
}